.addimagepage {
    width: 40%;
    margin: 4% auto;
}

.addimagepage input {
    margin-bottom: 0.2em;
}

.addimagetop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2%;
}

.addimage {
    font-size: 2em;
    margin-bottom: 2%;
}

.adminsubmit {
    width: 100%;
    background-color: green;
    font-size: 1em;
    border: none;
    color: white;
    padding: 5px 0;
    border-radius: 4px;
    text-decoration: none;
}

.uploadbutton {
    width: 100%;
    background-color: gray;
    font-size: 1em;
    border: none;
    color: white;
    padding: 5px 0;
    border-radius: 4px;
    text-decoration: none;
}