.article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3%;
    margin: 15px 4% 50px 4% !important;
}

.articleimg {
    width: 100%;
    max-width: 600px;
}

.articlename {
    font-size: 1.4em;
    font-weight: 700;
    text-align: center;
}

.articlename a {
    text-decoration: none;
    color: black;
}

.price {
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
}

.li {
    list-style: none;
    margin: 0 0 15px 0;
}